body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
    background-image: url('https://www.transparenttextures.com/patterns/white-diamond.png');
}
.trackerApp{
    max-width: 600px;
    margin: auto;
    background: #bab6b6c5;
    padding: 20px;
    border-radius: 5px;
    box-shadow:3px 5px 13px 10px rgba(0, 0, 0, 0.1);
}

header {
    text-align: center;
    margin-bottom: 20px;
}

.input-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
input {
    padding: 10px;
    width: 300px;
    border: 1px solid #ccccccaf;
    border-radius: 5px;
}
button {
    padding: 10px 15px;
    margin-left: 10px;
    border: none;
    border-radius: 5px;
    background-color: #28a745;
    color: rgba(255, 255, 255, 0.727);
    cursor: pointer;
}
button:hover {
    background-color: #48654ee1;
}

.habit-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.habit-card {
    background: white;
    padding: 15px;
    margin: 10px;
    border-radius: 5px;
    width: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.progress-container {
    margin: 20px 0;
    text-align: center;
}

.progress-bar {
    width: 0;
    height: 20px;
    background-color: #28a745;
    transition: width 0.5s;
}